<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
    <div style="margin: 5%; margin-top:0%;">
        <br>
        <hr>
        <h2>Create Post</h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            <label for="header">Post Header:</label>
            <input type="text" id="header" name="header" required><br><br>

            <label for="body">Description:</label>
            <textarea form="body" id="body" name="body" rows="4" cols="20" required></textarea><br><br>

            <input type="submit" value="Post" class="btn btn-secondary">
        </form>
    </div>
</body>
</html>