<!DOCTYPE html>
<html lang="en">

<head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">Advocator</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="#">Discussion Board</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="#">Archive</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="#">Sign Out</a>
</li>
</ul>
<form class="form-inline my-2 my-lg-0">
<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</div>
</nav>
</head>
<head>
<meta charset="UTF-8">
<title>DashBoard</title>
</head>
<body>
<div style="margin: 5%; margin-top:0%;">
<br>
<hr>
<h2>Dashboard</h2>
<p>To add a post visit: <a href="{% url 'createPost' %}">Create Post</a></p>
<hr>

{% for post in posts %}

<hr>
<div class="card my-4">
<div class="card-body">

<h5 class="card-title">Title: {{ post.header }}</h5>
<p class="card-text">Submitted on: {{ post.date_published }}</p>
<p class="card-text">{{ post.body }}</p>
<p class="card-text">Total agreement count:{{ post.up_count}}</p>
                <p class="card-text">Total disagreement count:{{ post.down_count}}</p>
                <button><a href="{% url 'voteUp' post.header %}">Vote up</a></button>
                <button><a href="{% url 'voteDown' post.header %}">Vote down</a></button>

            </div>
        </div>
        <hr>
        {% endfor %}
    </div>

</body>
</html>
